* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}

/* Start Header */

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 15px 0;
  z-index: 500;
  top: -100px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  box-shadow: 0 2px 8px 0 rgb(50 50 50 / 8%);
}

header > i {
  display: none !important;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 505;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
header > i:hover {
  color: #eb5424;
}

header > a {
  color: #212227;
  font-size: 30px;
  line-height: 45px;
  display: block;
  font-weight: bold;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
  font-size: 13px;
  font-weight: bold;
  line-height: 45px;
  letter-spacing: 1px;
}

header nav ul li a {
  color: #202020;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

header nav ul li a:hover {
  color: #eb5424;
}

@media (max-width: 740px) {
  header > i {
    display: block !important;
  }
  header nav {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: -350px;
    width: 100%;
    text-align: center;
    transition: 0.6s;
    z-index: -1000;
  }
  header nav ul li {
    display: block;
  }
}
.menu-show {
  top: 74px;
}
.active {
  color: #eb5424;
}
/* End Header */

/* Start Home */

#home {
  height: 100vh;
  width: 100%;
  position: relative;
  background: url(../images/home-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
#home button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  background-color: #eb5424;
  cursor: pointer;
  z-index: 500;
  padding: 5px 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#home button i {
  font-size: 28px;
  color: white;
}
.btn-show {
  display: block !important;
}

#home img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.home-content {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  color: #5f5f5f;
  text-align: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.home-content h1 {
  font-size: 40px;
}

.home-content h2 {
  color: #eb5424;
  font-weight: bold;
  padding-bottom: 40px;
  letter-spacing: 2px;
}

.home-content p {
  line-height: 28px;
}

.home-content a {
  color: white;
  background-color: #eb5424;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  margin: 30px auto 0;
  padding: 15px 50px;
  display: block;
  width: fit-content;
  transition: 0.3s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.home-content a:hover {
  background-color: white;
  color: #eb5424;
}
@media (max-width: 720px) {
  .home-content h1 {
    font-size: 30px;
  }
  .home-content h2 {
    font-size: 18px;
  }
  .home-content a {
    font-size: 15px;
    padding: 13px 30px;
  }
  #home img {
    width: 200px !important;
    height: 200px !important;
  }
}
@media (max-width: 540px) {
  .home-content h1 {
    font-size: 22px;
  }
  .home-content h2 {
    font-size: 15px;
  }
}
/* End Home */
/* Start Work */
#work {
  margin: 100px 20px;
}
#work h1 {
  color: #303030;
  font-size: 60px;
  padding-bottom: 40px;
}
#work .work-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#work .work-content > div {
  border: 1px solid #666;
  width: calc((100% / 3) - 20px);
  text-align: center;
  padding: 80px 40px;
  transition: 0.6s;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
#work .work-content > div i {
  color: #888888;
  font-size: 60px;
  padding-bottom: 40px;
}
#work .work-content > div h3 {
  color: #eb5424;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  padding-bottom: 10px;
  text-transform: uppercase;
  line-height: 28px;
}
#work .work-content > div p {
  line-height: 28px;
  font-size: 16px;
  color: #606060;
}
hr {
  border-color: #f2f2f2;
  width: 235px;
  margin-bottom: 40px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  text-align: center;
  height: 0;
}
#work .work-content > div:hover {
  border-color: #eb5424;
}

@media (max-width: 800px) {
  #work .work-content > div {
    width: 100%;
  }
}
/* End Work */
/* Start Portfolio */
#portfolio {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
  overflow: hidden;
}
#portfolio h1 {
  font-size: 30px;
  margin-bottom: 30px;
}
#portfolio ul {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}
#portfolio ul li {
  cursor: pointer;
  padding: 10px 20px;
  margin: 15px 10px;
  background-color: #eee;
  display: inline-block;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#portfolio ul li:hover,
#portfolio ul li.active {
  background-color: #eb5424;
  color: white;
}
#portfolio .container {
  display: flex;
  justify-content: center;
  align-items: top;
  flex-wrap: wrap;
  width: 100%;
}
#portfolio .container .all {
  width: 25%;
  position: relative;
}
#portfolio .container .all img {
  width: 100%;
  object-fit: cover;
  display: block;
  height: auto;
}
#portfolio .container .all .overlay {
  background-color: #eb5424;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
#portfolio .container .all .overlay p {
  max-width: 200px;
  line-height: 28px;
}
#portfolio .container .all .overlay h3 {
  margin-bottom: 15px;
}
#portfolio .container .all .overlay:hover {
  opacity: 0.8;
}
@media (max-width: 960px) {
  #portfolio .container .all {
    width: 50%;
  }
}
@media (max-width: 600px) {
  #portfolio .container .all {
    width: 100%;
  }
}
/* End Portfolio */
/* Start Resume */
#resume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  padding: 0 50px;
}
#resume > div {
  width: calc(50% - 30px);
  position: relative;
}
#resume h1 {
  color: #303030;
  font-size: 60px;
  padding-bottom: 40px;
  margin: 20px 0 0;
}
#resume p {
  line-height: 28px;
  color: #606060;
  margin-bottom: 10px;
}
#resume .profile p span {
  font-weight: bold;
  display: inline-block;
  width: 90px;
}
.prog-holder {
  position: relative;
}
.prog-holder h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}
#resume .prog-holder .prog {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #d5d5d5;
  z-index: -1;
}
#resume .prog-holder .prog span {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10px;
  background-color: #eb5424;
}
#resume .prog-holder .prog span::before {
  content: attr(data-skill);
  position: absolute;
  top: -40px;
  right: -16px;
  background-color: black;
  color: white;
  padding: 4px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#resume .prog-holder .prog span::after {
  content: "";
  border-color: black transparent transparent;
  border-width: 8px;
  border-style: solid;
  width: 0;
  height: 0;
  position: absolute;
  top: -14px;
  right: -4px;
}
@media (max-width: 965px) {
  #resume {
    flex-direction: column;
    align-items: flex-start;
  }
  #resume > div {
    width: 100%;
  }
}
@media (max-width: 400px) {
  #resume h1 {
    font-size: 40px;
    padding-bottom: 25px;
  }
  #resume p {
    font-size: 15px;
  }
  #resume .profile p span {
    width: 70px;
  }
}
/* End Resume */
/* Start About */
#about {
  padding-top: 60px;
  padding-bottom: 100px;
  width: 100%;
  position: relative;
  background: url(../images/about-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  text-transform: uppercase;
}
#about .about-info {
  width: 50%;
  margin-left: auto;
}
#about h3 {
  font-weight: 300;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}
#about h2 {
  font-weight: 300;
  color: #eb5424;
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 50px;
}
strong {
  font-weight: 700;
}
#about p {
  /* margin-left: auto; */
  width: 100%;
  line-height: 28px;
  color: #606060;
  text-transform: lowercase;
}
@media (max-width: 600px) {
  #about .about-info {
    width: 100%;
  }
}
/* End About */
/* Start Social */
#social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 100px;
}
#social > div {
  width: calc((100% / 3));
  padding: 80px 30px;
  overflow: hidden;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  cursor: pointer;
}
#social > div a {
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
#social > div.facebook {
  background-color: #3b5998;
}
#social > div.twitter {
  background-color: #55acee;
}
#social > div.github {
  background-color: #171515;
}
#social > div a .icon i {
  background: #ffffff;
  border-radius: 2px;
  color: #707070;
  font-size: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin-right: 20px;
}
#social > div a .text p {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 18px;
}
#social > div a .text h3 {
  font-weight: 300;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}
#social > div:hover {
  background: #3f3f3f;
}
@media (max-width: 900px) {
  #social > div {
    width: 100%;
  }
}
/* End Social */
/* Start Contact */
#contact {
  margin-bottom: 40px;
  width: 100%;
  text-align: center;
}
#contact h2 {
  color: #303030;
  font-size: 60px;
  padding-bottom: 40px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 10px;
}
#contact form {
  width: 70%;
  margin: 0 auto;
}
#contact form > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
#contact form > div:first-child input {
  width: calc(50% - 15px);
}
#contact form > div:last-child {
  width: 50%;
  display: inline-block;
}
#contact form > div {
  width: 100%;
}
#contact input,
textarea {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background: transparent;
  border: 1px solid #666;
  border-radius: 2px;
  box-shadow: none;
  margin-bottom: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#contact input {
  height: 34px;
}
#contact input:hover,
#contact textarea:hover {
  background: #202020;
  color: #ffffff;
}
#contact input:focus,
#contact textarea:focus {
  outline: none;
}
@media (max-width: 900px) {
  #contact form > div,
  #contact form > div input {
    width: 100% !important;
    display: block !important;
  }
  #contact h2 {
    font-size: 40px;
  }
}
/* End Contact */
/* Start Footer */
footer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 20px;
}
@media (max-width: 400px) {
  footer {
    font-size: 18px;
  }
}
/* End Footer */
